:root {
  --bodycolor: #267D90;
  --bodyshadow: #206F81;
  --shadow: #303030;
  --seccolor: #89B67B;
  --textcolor: #FFFFFF;
}


body {
  margin: 40px 70px 2000px 70px;
  padding: 0;
  background-color: var(--bodycolor);
  color: var(--textcolor);
  /* border: 2px solid blue; */
}

.nav {
  /* border: 2px solid #B9D1D5; */
  margin: 23px;
  position: fixed;
  top: 35px;
  background-color: var(--bodycolor);
  border-radius: 17px;
  box-shadow: 1px 1px 20px 0px var(--shadow);
}

.url {
  padding: 0 15px 0 250px;
}

div ul {
  list-style: none;
  display: inline-flex;
  text-align: center;
}

div ul li {
  padding: 0 15px 0 15px;
}

.mainbody {
  text-align: center;
  margin-top: 9vh;
  padding: 5px 10px 27px 10px;
  background-color: var(--bodyshadow);
  border-radius: 25px;
}

.bord {
  /* border: 2px solid #B9D1D5; */
}

.botton {
  /* border: 2px solid #B9D1D5; */
  border-radius: 18px;
  /* margin-bottom: 200px; */
  padding: 1px 25px 1px 25px;
  background-color: var(--seccolor);
  color: var(--textcolor);
}